main {
  max-width: 1920px;
}

h1,
h2,
p {
  text-align: center;
}

.demo {
  display: flex;
  width: 100%;
  gap: 10px;
}

.demo > div {
  flex: 1;
  padding: 10px;
  border: solid 2px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.demo textarea {
  width: 100%;
  font-size: 20px;
  border: none;
  resize: none;
  line-height: 50px;
}

.demo textarea:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

#guides {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#guides button {
  padding: 20px;
  font-size: 20px;
  background-color: white;
  border: none;
  outline: solid 2px black;
}

#guides button:hover {
  cursor: pointer;
}

#output {
  max-height: 430px;
  overflow-y: scroll;
}
