body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding: 0 12px 0 12px;
  max-width: 1920px;
}

h1,
h2,
p {
  text-align: center;
}

label,
select,
p {
  font-size: 18px;
}

.demo {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 768px) {
  .demo {
    flex-direction: row;
  }
}

.demo > div {
  flex: 1;
  padding: 10px;
  border: solid 2px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.demo textarea {
  width: 100%;
  font-size: 20px;
  border: none;
  resize: none;
  line-height: 40px;
}

.demo textarea:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

#guides {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.guide-input {
  overflow: auto;
}

#guides pre {
  font-size: 20px;
  line-height: 40px;
}

#output {
  max-height: 800px;
  overflow-y: auto;
}
